body {
  font-family: "Oxygen", sans-serif;
}

h1,
h2 {
  margin: 8px 0;
}

.game-screen {
  display: flex;

  table {
    flex: 0 0 auto;
    margin-right: 16px;
  }
}

.start-game {
  display: inline-block;
  height: 30px;
  border-radius: 14px;
  padding: 8px;
  margin-bottom: 8px;
  background: #3aae84;
  position: relative;
  color: white;
  font-size: 20px;
  text-transform: uppercase;

  &.playing {
    background: #f63f3a;
  }

  .play-button-icon {
    margin-right: 21px;
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.speed-selector {
  margin-bottom: 16px;

  select {
    margin-left: 8px;
  }
}

.game-over {
  color: #ed5565;
}

.snacko-wrapper {
  position: relative;
}

table {
  border: solid 4px #5dade2;
  border-collapse: collapse;

  tr {
    td {
      height: 22px;
      width: 22px;
      font-size: 13px;
      text-align: center;
      vertical-align: middle;

      &.snake {
        background: #d4ab72;

        img {
          height: 90%;
          width: 90%;
          transition: transform;
        }

        &.up {
          &.head {
            border-radius: 50% 50% 0 0;

            img {
              transform: rotate(180deg);
            }
          }
          &.butt {
            border-radius: 0 0 50% 50%;

            img {
              transform: rotate(0deg);
            }
          }
        }

        &.down {
          &.head {
            border-radius: 0 0 50% 50%;

            img {
              transform: rotate(0deg);
            }
          }
          &.butt {
            border-radius: 50% 50% 0 0;

            img {
              transform: rotate(180deg);
            }
          }
        }

        &.left {
          &.head {
            border-radius: 50% 0 0 50%;

            img {
              transform: rotate(90deg);
            }
          }
          &.butt {
            border-radius: 0 50% 50% 0;

            img {
              transform: rotate(270deg);
            }
          }
        }

        &.right {
          &.head {
            border-radius: 0 50% 50% 0;

            img {
              transform: rotate(270deg);
            }
          }
          &.butt {
            border-radius: 50% 0 0 50%;

            img {
              transform: rotate(90deg);
            }
          }
        }
      }

      &.snacko {
        position: relative;

        span {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          overflow: visible;
          animation-name: pulsate;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
        }
      }
    }

    &:nth-child(even) {
      td:not(.snake):nth-child(even) {
        background: #d4efdf;
      }

      td:not(.snake):nth-child(odd) {
        background: #7dcea0;
      }
    }

    &:nth-child(odd) {
      td:not(.snake):nth-child(even) {
        background: #7dcea0;
      }

      td:not(.snake):nth-child(odd) {
        background: #d4efdf;
      }
    }
  }
}

@keyframes pulsate {
  0% {
    font-size: 22px;
  }

  50% {
    font-size: 25px;
    top: -3px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }

  100% {
    font-size: 22px;
  }
}
