body {
  font-family: sans-serif;
}

.start-game {
  height: 30px;
  width: 100px;
  background: red;

  &:focus {
    background: green;
  }
}

.game-over {
  color: #ed5565;
}

table {
  border: solid 4px #5dade2;
  border-collapse: collapse;

  tr {
    td {
      height: 22px;
      width: 22px;
      font-size: 13px;
      text-align: center;
      vertical-align: middle;

      &.snake {
        background: orange;

        img {
          height: 90%;
          width: 90%;
          transition: all;
        }

        &.up img {
          transform: rotate(180deg);
        }

        &.down img {
          transform: rotate(0deg);
        }

        &.left img {
          transform: rotate(90deg);
        }

        &.right img {
          transform: rotate(270deg);
        }
      }

      &.snacko {
        overflow: visible;
        animation-name: pulsate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }

    &:nth-child(even) {
      background: #7dcea0;

      td:not(.snake):nth-child(even) {
        background: #d4efdf;
      }
    }

    &:nth-child(odd) {
      background: #7dcea0;

      td:not(.snake):nth-child(odd) {
        background: #d4efdf;
      }
    }
  }
}

@keyframes pulsate {
  0% {
    font-size: 13px;
  }

  50% {
    font-size: 11px;
  }

  100% {
    font-size: 13px;
  }
}
